* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.App {
  background-color: #efefef;
  height: 100%;
  width: 100%;
  color: black;
}

img#logo {
  display: block;
  margin: 0 auto;
  height: 190px;
  width: auto;
  padding: 1rem;
}

.App h1 {
  text-align: center;
  padding: 1rem;
}

.App p {
  text-align: left;
}
